.cart-page__item-image{
    height: 100px;
}

.taggleButton {
  padding: 4px 4px;
  margin: 0 5px;
  font-size: 10px;
  font-weight: bold;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.taggleButton:hover {
  background-color: #2563eb; /* Blue-600 */
  transform: translateY(-1px);
}

.taggleButton:active {
  transform: scale(0.95);
}